.about-container {
	overflow-x: hidden;
	font-family: 'Mulish', sans-serif;
}
.about-container .about-landing {
	display: flex;
	width: 100%;
	color: #fff;
}

.about-details {
	position: relative;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}
.about-details .about-intro {
	font-size: 10rem;
	color: #fafafa;
	will-change: transform;
	z-index: 2;
}
.about-details .about-social {
	position: absolute;
	bottom: 30px;
	left: 0;
	/* padding-bottom: 30px; */
}
.about-details .about-intro h1:nth-child(1) {
	transform: translate3d(-3.7052rem, 0px, 0px);
}
.about-details .about-intro h1:nth-child(2) {
	transform: translate3d(-3.7052rem, 0px, 0px);
}
.about-details .about-intro h1:nth-child(3) {
	transform: translate3d(-14.821rem, 0px, 0px);
}
.about-details .about-intro h1:nth-child(4) {
	transform: translate3d(-3.7052rem, 0px, 0px);
}
.about-details .about-intro span {
	font-family: 'Playfair Display', sans-serif;
}
.about-details .about-intro .intro-place {
	color: rgb(0, 229, 255);
	font-family: 'Mulish', sans-serif;
}
.about-details img {
	position: absolute;
	right: 0;
	height: 100vh;
	width: 70rem;
}

.about-me {
	margin: 12rem 12rem 6rem 12rem;
	padding: 2rem;
	color: #fff;
	font-size: 3rem;
}
.download-button {
	margin: 0rem 0rem 6rem 12rem;
}

.skill-heading {
	margin: 12rem;
	margin-bottom: 4rem;
}
.about-social {
	padding: 0 12rem 2rem 12rem;
}

@media screen and (max-width: 1025px) {
	.about-container .about-landing {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.about-details {
		flex-direction: column-reverse;
		padding: 0 10px;
	}
	.about-details .about-social {
		display: none;
	}
	.about-details img {
		position: relative;
		right: 0;
		top: 0;
		height: 50rem;
		width: 95vw;
	}
	.about-details .about-intro {
		font-size: 4rem;
		padding: 1rem 2rem 2rem 2rem;
		text-align: center;
	}
	.about-details .about-intro h1:nth-child(1),
	.about-details .about-intro h1:nth-child(2),
	.about-details .about-intro h1:nth-child(3),
	.about-details .about-intro h1:nth-child(4) {
		transform: translate3d(0, 0, 0);
	}
	.about-me {
		margin: 5rem 2rem;
		padding: 0;
		text-align: center;
		font-size: 2rem;
		letter-spacing: 0.5px;
	}

	.download-button {
		margin: 2rem;
	}
	.about-social {
		padding: 0 2rem 2rem 2rem;
	}
}
