.homepage {
	height: calc(100vh - 15rem);
	width: 100vw;
	position: relative;
	color: #fff;
	overflow-x: hidden;
}

@media screen and (max-width: 1025px) {
	.homepage {
		height: auto;
		text-align: center;
	}
}
